.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 25px;
  padding: 10px 20px 10px;
  height: 200px;
  width: 65%;
}
.checkoutProduct_title {
  font-weight: 700;
  font-size: medium;
  margin-right: 20px;
}
.checkoutProducr_disc {
  font-weight: 300;
  margin-top: 5px;
  margin-right: 20px;
}
.close {
  position: absolute;
  right: 50.5%;

  background: #ffffff;
  border: #ffffff;
}

.checkoutProduct_info {
  padding-left: 20px;
}
.checkoutProduct_price {
  margin-top: 10px;
}

.checkoutProduct_image {
  object-fit: contain;
  max-width: 100%;
  max-height: 200px;
}
